

<div class="row">



  <div class="span8 offset1">
  
  Variants
  <p><%= @rsscad %></p>
  <p><%= 1 + @rssusd.round(4) %></p>

  CAD: <%= @rsscad %> | USD: <%= @rssusd.round(4) %>
    
<%= @variantsprice.count %>

  <% @variantsprice.each do |s| %>

    <p><%= s.sku %> | <%= s.title %> | <%= s.price %> | <%= s.id %></p>
<% s.metafields.each do |m| %>
                <p><%= m.owner_id %> | <%= m.description %> | <%= m.key %> | <%= m.value %> | <%= m.namespace %>
            <% end %>


    <% end %>
    


    </div> <!-- accordion -->
  </div> <!-- span8 / right-column -->
</div>