

<div class="row">



  <div class="span8 offset1">
  
  Variants
  <p><%= @rsscad %></p>
  <p><%= 1 + @rssusd.round(4) %></p>

  CAD: <%= @rsscad %> | USD: <%= @rssusd.round(4) %>
  <% @variantsprice.each do |vprice| %>
        <p><%= vprice.sku %> | <%= vprice.id %> </p>
        <p><%= @dmeta.id %> | <%= @dmeta.description %></p>

    <% end %>





    </div> <!-- accordion -->
  </div> <!-- span8 / right-column -->
</div>